
* {
    font-family: Roboto;
}

.title {
    margin-top: 8vh;
    margin-bottom: 5px;
}

.intro {
    margin-top: 5vh;
    margin-right: 5vw;
    font-size: larger;
}


.image-container {
    width: 60%;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    padding-top: 60px;
}

footer .card {
    border: none;
}

footer {
    margin-top: 30px;
    border-top: 1.5px solid gray;
}


section a {
    text-decoration: none !important;
    color: white !important;
}
